<p>Hello!</p>

<p>You've been added to <%= link_to @project.name, project_url(@project) %>
 on Data Journal:</p>

<p><%= link_to project_url(@project), project_url(@project) %></p>

____

<p><%= t("devise.mailer.help").html_safe %></p>