<% @data_points.each_slice(2) do |group| %>
<div class="page">
  <% group.each do |data_point| %>
    <div class="data_point">
      <%= wicked_pdf_image_tag(data_point.photo.image_url(:square)) %>

      <h2>Observation, Quote or Story</h2>
      <p><%= data_point.observation %></p>

      <h2>Possible Meaning</h2>
      <p><%= data_point.meaning %></p>
    </div>
  <% end %>
</div>
<% end %>