<h1>Data Journal Privacy Policy</h1>

<p>This Privacy Policy (“Privacy Policy”) describes (a) how Greater Good Studio (“GGS,” “we,” or “us”), either directly or through Service Providers (as defined below), collects information from you regarding your use of the Sites (as defined below) and (b) the choices available to you regarding our use of your personally identifiable information and how you can access and update this information. In the event any of the Sites have additional privacy terms, whether posted by us or the owner/administrator of the Site in question, your use of such Site also is subject to such privacy policy(ies). This Privacy Policy does not apply to the information collected through our grant application or review process.</p>

<p>As used in this Privacy Policy, the terms “Service Providers” means third-party service providers who provide certain services to us (e.g., analytics, hosting, software maintenance, satisfaction surveys, database maintenance) related to the Sites, and “Sites” has the same meaning as in the <%= link_to "Terms and Conditions", page_path("terms-and-conditions") %>.</p>

<p>In order to use the Sites you must be 13 years of age or older. If you are 13 or older but under 18 years of age, you must have your parent or legal guardian’s permission to use the Sites and to accept the Terms and Conditions.</p>

<div>
  <strong>1. Information Collection</strong>
</div>

<p>We may collect information related to you and your use of the Sites in the following ways:</p>

<p><strong>A. &nbsp; Information you provide to us directly.</strong></p>
<ul>
  <li>Registration – In order to use some features of certain of the Sites, you must first complete a registration form. During registration, you may be asked to provide personally identifiable information and contact information (e.g., name, organizational affiliation, email and postal addresses, Twitter handle). If information requested is marked as “optional,” you are not required to provide that information in order to complete the registration process.</li>
  <li>Email Subscription and Newsletters – In order to subscribe to certain of our email mailing lists and newsletters you must complete a registration form.&nbsp; During registration, you may be asked to provide personally identifiable information and contact information (e.g., name, organizational affiliation, email and postal addresses, Twitter handle). If information requested is marked as “optional,” you are not required to provide that information in order to complete the registration process.</li><li>Ordering Publications – When you order a publication from one of the Sites, you will need to provide contact/shipping information (e.g., name, organizational affiliation, and email and postal addresses).</li>
  <li>Interests – In order to facilitate your interaction with the Sites you may be asked to, and may wish to, provide information about your personal interests.</li>
  <li>Surveys – From time to time, we, along with our partner organizations, may conduct online surveys, polls or other similar interactive activities on topics related to our programs or the Sites. If you choose to participate in such a survey or a contest, you will be required to provide certain information to participate (e.g., name, organizational affiliation, email and postal addresses, Twitter handle).&nbsp; Participation in these surveys and contests is completely voluntary.</li>
</ul>

<p><strong>B. &nbsp; Information collected from your use of the Sites.</strong></p>
<ul>
  <li>Cookies and Other Technologies – We and certain of our Service Providers may use cookies and other technologies, including web beacons and pixel tags, to passively collect information from you about you and your use of the Sites. This information may include: your Internet Protocol (IP) address, your location information, your device type, your browser type, your computer or device's operating system, the date/time you arrived on a Site, your internet service provider (ISP), the website or email address from which you arrived at the Site, your browsing destination after you leave the Site, and your actions on the Site itself, including the content you visited, clicked on, or shared on social media.&nbsp; See www.adobe.com/privacy/analytics.html for additional examples of the types of information that may be collected from your use of the Sites.</li>
</ul>

<p>We and certain of our Service Providers also may use similar technologies in our email communications to let us know which emails and links have been opened by recipients.&nbsp; This allows us to, among other things, gauge the effectiveness of our customer communications and marketing campaigns.</p>

<p>You can control the use of cookies using your browser settings.&nbsp; If you reject cookies, you may still use the Sites, but your ability to use some features or areas of the Sites may be limited. Turning off the browser’s cookies will prevent web beacons from tracking your specific activity. The web beacon may still record an anonymous visit from your IP address, but unique information will not be recorded. However, if you are a subscriber to one of our email mailing lists and visit a Site by clicking a link in an email from us, we will be able to determine your identity even if you have turned off your browser’s cookies.</p>

<p>You may opt out of cookies provided by our Service Provider Adobe by following the instructions located at www.adobe.com/privacy/opt-out.html#4 and of cookies provided on our Sites by other Service Providers who are members of the Digital Advertising Alliance program by following the instructions located at <a target="_blank" href="http://www.aboutads.info/choices/">www.aboutads.info/choices/</a>. You can find more information about cookies at <a target="_blank" href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.</p>

<p>Information collected by us by cookies and other technologies generally is not linked to your personally identifiable information. However, once you set up an account with of our Sites, the de-identified information associated with you may be linked to your user account and become personally identifiable information. We will use this information only as provided in this Privacy Policy.</p>

<ul>
  <li>Local Storage Objects and Advertising – We may use Local Storage Objects (“LSOs”), such as HTML5, to store content information and preferences.&nbsp; Service Providers with which we engage to provide certain features on our Sites or to display advertising based upon your web browsing activity use LSOs such as HTML5 or Flash to collect and store information.&nbsp; Various browsers may offer their own management tools for removing HTML5 LSOs.&nbsp; To manage Flash LSOs please see the information located at www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html.</li>
  <li>Behavioral Targeting/Re-Targeting – We may use a third-party ad network to either display advertising on our Sites or to manage our advertising on other sites. Our ad network Service Providers use cookies and Web beacons to collect non-personally identifiable information about your activities on our Sites and other websites to provide you targeted advertising based upon your interests. If you do not want this information used for the purpose of serving you targeted ads, you may opt-out by clicking here. Please note this does not opt you out of being served advertising. You will continue to receive generic ads.</li>
  <li>Social Media Widgets – Our Sites often include Social Media Features, such as the Facebook “Like” button and Widgets, such as the “Share” this button or interactive mini-programs that run on our Sites. These features may collect information, such as your IP address, which page you are visiting on our Sites, and may set a cookie to enable the feature to function properly. Social Media Features and Widgets are either hosted by a third-party or hosted directly on our Sites. Your interactions with these features are governed by the privacy policy of the company providing it. Please review these privacy policies carefully.</li>
</ul>

<div><strong>2. How We Use the Information Collected</strong></div>
<p>We may use the information collected from you for the following purposes:</p>

<ul>
  <li>to conduct research and analyze data in connection with our programs and in collaboration with our partner organizations;</li><li>to conduct or facilitate surveys, polls and other interactive activities through the Sites;</li>
  <li>to provide you with information about events, activities, opportunities, products, or services that might be of interest to you;</li>
  <li>to assist in managing your account and respond to user inquiries related to the Sites;</li>
  <li>to maintain and administer the Sites;</li><li>to customize your experience, content, advertising, or homepage on the Sites, including providing engaging and consistent experiences across the Site and&nbsp; providing you with more relevant products, services, or content;</li>
  <li>to enforce the Terms and Conditions for the Sites or this Privacy Policy;</li>
  <li>to generate aggregate statistical studies to analyze how the Sites are used, to gauge efficiency of email communications, and to conduct research which may be used in connection with our programs and activities, including in marketing our services to you or to third parties; and</li>
  <li>to provide you with information about events, activities, opportunities, products, or services that might be of interest to you;</li>
  <li>for any other purpose(s) described to you at the time you provide your personally identifiable information to us.</li>
</ul>

<p>We will retain information collected from you for as long as needed to provide you services or as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements</p>

<div><strong>3. With Whom We Share Information Collected</strong></div>
<p>We may share the information collected from you for the following purposes:</p>

<ul>
  <li>with Service Providers; provided, that such Service Providers are not permitted to use your personally identifiable information for any secondary purposes;</li>
  <li>with our partner organizations, such as the Robert Wood Johnson Foundation, when the information is related to the Data Journal program or other programs, events or activities on which we may collaborate;</li>
  <li>to conform or comply with the law, or if we have a good faith belief that such action is necessary to comply with a court order or subpoena, to cooperate with investigations by law enforcement or regulatory authorities or to participate or cooperate with a judicial proceeding, to enforce applicable Terms and Conditions of the Sites, or in urgent circumstances, to protect the safety of persons or property, including but not limited to, the Website; and</li>
  <li>if we sell or assign all or part of our business, any assets of the business, or any of the Sites (including without limitation, the Data Journal website currently located at www.datajournal.me), GGS may disclose and transfer your personal information to the party or parties involved in the transaction as part of that transaction.</li>
</ul>

<p>We also may share information in an aggregated non-personally identifiable manner with third parties and such third parties may further share such aggregated non-personally identifiable information further in connection with their own marketing, products, and services.</p>

<p>We will ask for your consent before using information for a purpose other than those permitted by this Privacy Policy.</p>

<div><strong>4. Choice/Opt-out</strong></div>
<p>If you no longer wish to receive our newsletter or other email communications from us, you may opt out of receiving these communications by following the “unsubscribe” instructions at the bottom of each email.</p>

<p>From time to time, it may be necessary for us to send out service-related announcements. For example, if one of our Sites is temporarily suspended for maintenance, we might send users an email notice regarding the suspension.&nbsp; Generally, users may not opt out of these communications unless they deactivate their account.</p>

<div><strong>5. Blogs and Community Forums</strong></div>
<p>Our Sites may offer publicly accessible blogs, community forums or other public areas where users may submit information and content through the Sites. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. To request removal of your personally identifiable information from a blog or community forum, contact us as noted above. In some cases, we may not be able to remove your personally identifiable information, in which case we will let you know if we are unable to do so.</p>

<p>Our blogs and community forums also may be managed by a third-party application that may require you to register to post a comment. We do not have access or control of the information posted to such blogs. You will need to contact or login to the third-party application if you want the personally identifiable information that was posted to the comments section removed. To learn how the third-party application uses your information, please review its privacy policy.</p>

<div><strong>6. Links</strong></div>
<p>The Sites may contain links to other websites. Please be aware that we are not responsible for the privacy practices of such other sites. We encourage our users to be aware when they leave our Sites and to read the privacy policies of each and every website that collects personally identifiable information. This Privacy Policy applies solely to information collected on the Sites.</p>

<div><strong>7. Policy Regarding Children</strong></div>
<p>The Sites are not intended for children under the age of 13, and we do not knowingly collect personal information from children under 13 years of age, unless such information is provided by a parent or guardian. In the event that we learn that we have inadvertently gathered personal information from children under the age of 14 without the appropriate consent, we will take reasonable measures to promptly erase such information from our records.</p>

<div><strong>8. Security</strong></div>
<p>We have put in place reasonable physical, electronic, and managerial procedures to safeguard and secure the information we collect online. However, no method of transmission over the Internet, or method of electronic storage, is 100 percent secure. Therefore, we cannot guarantee its absolute security.</p>

<div><strong>9. Updating and Deleting Personally Identifiable Information; Data Retention</strong></div>
<p>If your personally identifiable information changes, or if you no longer desire our services, you may correct, update, amend, or delete your information by making the change on your member information page (if applicable) or by contacting us at the address below.</p>

<p>We will retain information collected from you for as long as needed to provide you services, conduct research and aggregate data related to our programs and activities, or as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

<div><strong>10. Your California Privacy Rights</strong></div>
<p>Pursuant to California Civil Code Section 1798.83, a California resident who has provided personally identifiable information to a business with whom he/she has established a business relationship has the right to request certain information regarding the disclosure of personally identifiable information to third parties for their direct marketing purposes. To make such a request, please write us at the address provided below.</p>

<div><strong>11. Changes to this Privacy Policy</strong></div>
<p>We may amend this Privacy Policy at any time in our sole discretion, subject to any applicable laws. It is your responsibility to review this Privacy Policy from time to time, to see if modifications have been made.&nbsp; Any modification is effective immediately upon posting on the applicable Site. Your continued use of the relevant Sites following modification of this Privacy Policy will be conclusively deemed to signify your acceptance of the modification.&nbsp; If we make any material changes to this Privacy Policy, we will notify you either by email (sent to the email address specified in your account, if applicable) or by means of a notice on the applicable Site(s).</p>

<div><strong>12. Contact</strong></div>
<p>If you have questions about these Terms and Conditions, please contact us at:</p>

<ul style="list-style: none">
  <li><strong>Greater Good Studio</strong></li>
  <li>2864 N Milwaukee Ave<br>Chicago, IL 60618</li>
  <li><a href="mailto:change@greatergoodstudio.com">change@greatergoodstudio.com</a></li>
</ul>