<h1 >Data Journal Website Terms &amp; Conditions</h1>
  <p >The following Terms and Conditions of Use (the “Terms and Conditions”) apply to (1) the Data Journal website located at www.datajournal.me (the “website”) and (2) any other websites, blogs, online communities, social media platforms, or other services that Greater Good Studio (the “GGS,” “we,” or “us”) may provide from time to time, whether on the website or otherwise (collectively, the “Services”) and that link to these Terms and Conditions. Your use of the Services also is subject to any additional terms and conditions of use that may be specified with respect to the Service at issue. As used in these Terms and Conditions, the term “Sites” refers to the website and the Services.</p>
  <p >PRIVACY POLICY</a>. IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS, PLEASE DO NOT USE THE SITES AND EXIT IMMEDIATELY. WE RESERVE THE RIGHT TO MODIFY OR AMEND THESE TERMS AND CONDITIONS FROM TIME TO TIME WITHOUT PRIOR NOTICE. YOUR CONTINUED USE OF THE SITES FOLLOWING THE POSTING OF CHANGES TO THESE TERMS AND CONDITIONS WILL MEAN YOU ACCEPT THOSE CHANGES.</p>
  <p >In order to use the Sites you must be 13 years of age or older. If you are 13 or older but under 18 years of age, you must have your parent or legal guardian’s permission to use the Sites and to accept the Terms and Conditions.</p>
  <div >
    <strong>1. Intellectual Property</strong>
  </div>
  <p >All of the content featured or displayed on the Sites, including without limitation text, graphics, photographs, still images, moving images, sound, illustrations, and software (collectively, “Content”), is owned by GGS, its licensors, vendors, agents, and/or content providers, as applicable. All elements of the Sites, including without limitation the general design and the Content, are protected by trade dress, copyright, moral rights, trademark and other laws relating to intellectual property rights. GGS reserves the right to track the usage of Content.</p>
  <p >Except where it is stated that prior&nbsp;permission to use, download, reproduce, publicly display or reprint&nbsp;Content must be obtained from GGS or other copyright owner, and except with respect to Marks (as defined below), you are authorized to view, play, print, and download Content found on the Sites for personal, informational and noncommercial purposes only. Prior consent to use Content for any commercial purpose (e.g., book publishing) or to use Marks for any purpose (whether commercial or noncommercial) must be obtained from GGS in writing. GGS reserves the right to grant, withhold, or condition such consent in its sole discretion.</p>
  <p >You may not modify any of the Content, and, except as set forth below, you may not copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer or sell any Content contained on the Sites. You will not remove any copyright, trademark or other proprietary notices from Content found on the Sites.</p>
  <p >In using Content in accordance with these Terms and Conditions, you may not (a) state or imply that GGS is endorsing you, your viewpoints or any of the products or services that you or your organization may provide, or (b) represent that you or your organization has a relationship with GGS or any of the events, products or services that GGS provides unless that relationship is the subject of a written agreement that has been signed by GGS.</p>
  <p >You will not access any Content from the Sites through any technology or means other than the pages of the Sites, the Embeddable Player (as defined below), the Widgets (as defined below) or such other explicitly authorized means as the GGS may designate.</p>
  <p >All trademarks, service marks and trade names of GGS or third-parties used in the Sites (including, but not limited to, Greater Good Studio and the Greater Good Studio logo) (collectively, the “Marks”) are trademarks or registered trademarks of GGS or its licensors, vendors, agents and/or content providers, as applicable. You may not use, copy, reproduce, republish, upload, post, transmit, distribute or modify the Marks in any way, including in advertising or publicity pertaining to distribution of materials on the Sites, without GGS's prior written consent. The use of the Marks on any other website or network computer environment is not allowed.</p>
  <div >
    <strong>2. Embeddable Player and Widgets</strong>
  </div>
  <p >To the extent that GGS makes available to you through the Sites (or otherwise) an embeddable player for viewing video and playing audio Content from the Sites (the “Embeddable Player”) and/or widgets to obtain access to Content from the Sites (“Widgets”), you agree as a condition to accessing and using such items that:</p>
  <ul >
    <li >You will not alter or modify any part of the Embeddable Player, the Widgets or any of their related technologies.</li>
    <li >You will include a prominent link back to the applicable Site on the pages containing the Embeddable Player and/or Widgets, and you may not modify, build upon or block any portion of the Embeddable Player and/or Widgets in any way.</li>
    <li >You will not use the Embeddable Player and/or Widgets for any commercial use, without the prior written authorization of GGS. Prohibited commercial uses include any of the following actions taken without GGS’s prior written approval: (a) sale of access to the Sites or their related services (such as the Embeddable Player and Widgets) on another website; and (b) use of the Sites or their related services (such as the Embeddable Player and Widgets), for the primary purpose of gaining advertising or subscription revenue.</li>
  </ul>
  <div >
    <strong>3. User Submissions</strong>
  </div>
  <p >The Sites may now or in the future permit the submission and posting or linking of media, text, audio and video recordings, photos, survey responses, commentary or any other content submitted by you and other users (“User Submissions”). You understand that whether or not such User Submissions are published, GGS does not guarantee any confidentiality with respect to any User Submissions.</p>
  <p >By submitting User Submissions through the Sites, you hereby grant GGS and its affiliates and partner organizations a worldwide, non-exclusive, fully paid-up, royalty-free, perpetual, irrevocable, transferable license, with the right to grant and authorize sublicenses, to use, reproduce, distribute, modify, adapt, prepare derivative works of, publicly display and publicly perform the User Submissions in connection with the Sites, the Data Journal program, and any reports or publications related thereto, including without limitation for promoting and redistributing part or all of the Sites (and derivative works thereof), in any media formats and through any media channels now known or hereafter discovered. You grant GGS and its affiliates and partner organizations the right to use the name that you submit in connection with such User Submission if they choose. You also agree to irrevocably waive any claims and assertions of moral rights or attribution with respect to your User Submissions. You also hereby grant to each user of the Sites a non-exclusive license to access your User Submissions through the Sites, and to use, reproduce, distribute, prepare derivative works of, display, and perform such User Submissions as permitted by the functionality of the Sites and these Terms.</p>
  <p >You are solely responsible for your own User Submissions and the consequences of posting or publishing them. In connection with User Submissions, you represent and warrant that: (a) you own, or have the necessary licenses, rights, consents, and permissions in the User Submissions, to authorize GGS to use the User Submissions and grant the rights in this section; and (b) your User Submissions and the use of your User Submissions by GGS, its affiliates, partner organizations and successors, does not and will not (i) infringe or violate the rights of any third party (including any intellectual property rights), (ii) slander, defame or libel, or invade the right of privacy, publicity or other property rights of any person, or (iii) violate any applicable law or regulation.</p>
  <p >While GGS is a for-profit company, some of its partner organizations are not-for-profit organizations (e.g., the Robert Wood Johnson Foundation) and are prohibited from supporting attempts to influence the outcome of any election for public office or engaging in lobbying activity. Accordingly, you agree not to post or submit:</p>
  <ul >
    <li >Content that expressly or impliedly endorses or opposes any candidate for public office or any political party; or</li>
    <li >Content that encourages others to contact a government official to express support for, or opposition to, any legislation, including a specific legislative proposal that has not yet been introduced.</li>
    <li >In addition, hyperlinks to website pages that contain this type of Content, or which direct users to such materials, also are prohibited.</li>
  </ul>
  <p >In connection with your User Submissions, you further agree not to post or submit:</p>
  <ul >
    <li >Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, sexually explicit, obscene, pornographic, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</li>
    <li >Content that falsely states or otherwise misrepresents your identity, affiliation with GGS, or any person or other entity;</li>
    <li >Confidential business or personal information, or content that infringes any trademark, trade secret, copyright or other proprietary rights of any party;</li>
    <li >Confidential business or personal information, or content that infringes any trademark, trade secret, copyright or other proprietary rights of any party;</li>
    <li >Content that makes available unsolicited or unauthorized advertising, promotional materials, sweepstakes, junk mail, spam, chain letters, pyramid schemes, or any similar form of solicitation;</li>
    <li >Content that is fraudulent, false, inaccurate or misleading;</li>
    <li >Content that violates any law, ordinance or regulation, that promotes illegal activities, or that is harmful to minors; or</li>
    <li >Links to files that contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted files, or any other similar software or programs that may damage the operation of another's computer or property of another.</li>
  </ul>
  <div >
    <strong>4. Copyright Infringment</strong>
  </div>
  <p >If you believe that your work has been copied in a way that constitutes copyright infringement, please provide GGS’s Copyright Agent the following information required by the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act (DMCA), 17 U.S.C. §512:</p>
  <ul >
    <li >A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
    <li >Identification of the copyright work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
    <li >Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;</li>
    <li >Information reasonably sufficient to permit us to contact the complaining party;</li>
    <li >A statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
    <li >A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
  </ul>
  <p >For copyright inquiries under the DMCA please contact:</p>
  <ul >
    <li >Greater Good Studio</li>
    <li >2864 N Milwaukee Ave<br>
    Chicago, IL 60618</li>
    <li >
      <a >change@greatergoodstudio.com</a>
    </li>
  </ul>
  <div >
    <strong>5. Services – Creating a User Account</strong>
  </div>
  <p >Some of the Services may require that you create/receive a password and account designation before using the Services. You are responsible for maintaining the confidentiality of any such password, account, and information displayed in the account profile. You are fully responsible for all activities that occur under your password or account. If you allow third parties to access the Services through your username and password, you will defend and indemnify GGS and its trustees, employees, agents, affiliates, partner organizations, successors and assigns from and against any liability, costs or damages arising out of claims or suits based upon or relating to such access and use. You agree to immediately notify GGS of any unauthorized use of your password or account or any other breach of security related to the Services of which you are aware.</p>
  <div >
    <strong>6. Unlawful or Prohibited Use</strong>
  </div>
  <p >As a condition of your use of the Services, you will not use the Services for any purpose that is unlawful or prohibited by these Terms and Conditions or is otherwise prohibited under applicable law. You may not use the Services in any manner that could damage, disable, overburden, or impair the Services or interfere with any other party’s use and enjoyment of the Services. You may not attempt to gain unauthorized access to any Services.</p>
  <p >You agree not to circumvent, disable or otherwise interfere with security-related features of the Sites or features that prevent or restrict use or copying of any content or enforce limitations on use of the Sites or the Content therein.</p>
  <p >You agree that you will not use any bot, crawler, harvester, indexer, robot, spider, scraper or any other automated means to access, compile, read or gather content from the Sites automatically.</p>
  <p >Additionally, you agree that you will not: (a) take any action that, in our sole discretion, imposes, or may impose an unreasonable or disproportionately large load on our infrastructure; (b) interfere or attempt to interfere with the proper working of the website or any activities conducted on the Sites; or (c) bypass any measures we may use to prevent or restrict access to the Sites.</p>
  <div >
    <strong>7. Links</strong>
  </div>
  <p ><em>Links to Third Party Sites.</em>&nbsp; From time to time, the Sites may contain links to other websites that are not owned, operated or controlled by GGS. All such links are provided solely as a convenience to you. If you use these links, you will leave the Site containing the link. We are not responsible for any content, materials or other information located on or accessible from any other website, including, but not limited to, any content that violates restrictions applicable to GGS. We also are not responsible for any products or services that you buy from third party websites or any donations made through those websites.</p>
  <p >GGS does not endorse, guarantee or make any representations or warranties regarding any other websites, or any content, materials or other information located or accessible from any other websites, or the products or services that you may obtain from using any other websites or how any donations you make through such websites will be used. If you decide to access any other websites linked to or from the Sites, you do so entirely at your own risk.</p>
  <p ><em>Links to GGS Sites.</em>&nbsp; By creating a link to any portion of the Sites, you agree to be bound by the following terms. Your compliance with these terms, as the same may be revised from time to time in GGS’s sole discretion, is a prerequisite to your continued right to link to the Sites:</p>
  <ul >
    <li >You may not insert any intermediate page, splash page or other Content between the link and the applicable page from the Sites or create a frame around the information provided from the Sites or present it in any way other than it is presented on the Sites;</li>
    <li >The posting of a link to the Sites is not an endorsement by GGS (or any of its affiliates or partner organizations) of you, your viewpoints or any of the products or services that you or your organization may provide, and, when linking to the Sites, you may not state or imply that GGS (or any of its affiliates or partner organizations) is endorsing you, your viewpoints or any of the products or services that you or your organization may provide;</li>
    <li >You may not represent that you or your organization has a relationship with the GGS (or any of its affiliates or partner organizations) or any of the events, products or services that GGS provides unless that relationship is the subject of a written agreement that has been signed by the GGS;</li>
    <li >You shall not use any portion of the Content of the Sites to carry on propaganda or otherwise attempt to influence legislation within the meaning of Section 4945(d)(1) of the Internal Revenue Code;</li>
    <li >GGS (nor any of its affiliates or partner organizations) assumes no liability or responsibility whatsoever for any Content of any other website that is linked to the Sites; and</li>
    <li >GGS reserves the right to terminate any links to the Sites as it deems necessary, with or without cause or warning. If GGS chooses to exercise this right, you will be required to remove your link to the Sites immediately.</li>
  </ul>
  <div >
    <strong>8. Disclaimer of Warranties and Limitation of Liability</strong>
  </div>
  <p >(A) YOU EXPRESSLY AGREE THAT USE OF THE SITES IS AT YOUR SOLE RISK. NEITHER GGS, ITS AFFILIATES OR PARTNER ORGANIZATIONS, INCLUDING WITHOUT LIMITATION, THE ROBERT WOOD JOHNSON FOUNDATION, NOR ANY OF THEIR RESPECTIVE OFFICERS, TRUSTEES, EMPLOYEES, AGENTS, CONTRACTORS, LICENSORS OR ASSIGNEES (COLLECITVELY, THE “REPRESENTATIVES”) WARRANT THAT THE SITES WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SITE, OR AS TO THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION, SERVICE, OR MERCHANDISE PROVIDED THROUGH THE SITE.</p>
  <p >(B) THE SITES ARE PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THESE TERMS AND CONDITIONS.</p>
  <p >(C) THE SITES MAY OFFER HEALTH, FITNESS, NUTRITIONAL AND OTHER SUCH INFORMATION, BUT SUCH INFORMATION IS DESIGNED FOR EDUCATIONAL AND INFORMATIONAL PURPOSES ONLY. THE INFORMATION CONTAINED ON THE SITE DOES NOT AND IS NOT INTENDED TO CONVEY MEDICAL ADVICE AND DOES NOT CONSTITUTE THE PRACTICE OF MEDICINE. YOU SHOULD NOT RELY ON THIS INFORMATION AS A SUBSTITUTE FOR, NOR DOES IT REPLACE, PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT. NEITHER GGS OR THE REPRESENTATIVES ARE RESPONSIBLE FOR ANY ACTIONS OR INACTION ON A USER'S PART BASED ON THE INFORMATION THAT IS PRESENTED IN THE SITE.</p>
  <p >(D) TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, IN NO EVENT SHALL GGS OR THE REPRESENTATIVES BE LIABLE TO YOU FOR ANY PERSONAL INJURY, PROPERTY DAMAGE, LOST PROFITS, COST OF SUBSTITUTE GOODS OR SERVICES, LOSS OF DATA, LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER AND/OR DEVICE OR TECHNOLOGY FAILURE OR MALFUNCTION OR FOR ANY FORM OF DIRECT OR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES BASED ON ANY CAUSES OF ACTION ARISING OUT OF USE OF THE SITE OR ANY ALLEGED FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, OR DELAY IN SERVICE, OPERATION, OR TRANSMISSION OF THE SITES, OR ANY ALLEGED COMPUTER VIRUS PERTAINING TO OR ON THE SITES. YOU AGREE THAT THIS LIMITATION OF LIABILITY APPLIES WHEHER SUCH ALLEGATIONS ARE FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR, OR NEGLIGENCE UNDER ANY OTHER CAUSE OF ACTION, REGARDLESS OF THE BASIS UPON WHICH LIABILITY IS CLAIMED. IF APPLICABLE LAW DOES NOT ALLOW ALL OR ANY PART OF THE ABOVE LIMITATION OF LIABILITY TO APPLY TO YOU, THE LIMITATIONS WILL APPLY TO YOU ONLY TO THE EXTENT PERMITTED BY APPLICABLE LAW.</p>
  <p >(E) GGS and the Representatives disclaim any and all liability of any kind for any unauthorized access to or use of your personally identifiable information. By accessing the Site, you acknowledge and agree to CNN’s disclaimer of any such liability. If you do not agree, you should not access or use the Site.</p>
  <div >
    <strong>9. Indemnification</strong>
  </div>
  <p >You agree to indemnify, defend and hold harmless the GGS and the Representatives from and against any and all losses, damages, liabilities and costs of every nature incurred by any of them in connection with any claim, damage or loss related to or arising out of: your use of the Sites, any assistance or services provided by us or the Representatives to you, any alleged unauthorized use of the Sites by you, or any breach or alleged breach by you of these Terms and Conditions. You agree to cooperate fully in the defense of any of the foregoing. We reserve the right, at our own expense, to control exclusively the defense of any matter otherwise subject to indemnification by you and you will not settle any matter without our prior written consent. Your obligation to indemnify, defend and hold harmless shall be limited to the extent that you are afforded sovereign immunity under applicable federal, state or local laws. In such cases where your obligation to indemnify may be limited due to the requirements of federal, state or local laws, you shall be responsible for the ordinary negligent acts and omissions of your agents and employees causing harm to persons not a party to these Terms and Conditions.</p>
  <div >
    <strong>10. Release</strong>
  </div>
  <p >In the event that you have a dispute with one or more other users of the Sites, you release GGS and the Representatives from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.</p>
  <div >
    <strong>11. Applicable Law and Jurisdiction</strong>
  </div>
  <p >Unless otherwise noted, the Sites are controlled and operated from the GGS’s offices in the State of Illinois. By accessing the Sites, you agree to be bound by the terms and conditions of this agreement which is governed by and construed in accordance with the laws of the State of Illinois, without giving effect to any conflict of laws principles. All activity occurring in connection with the site (including, but not limited to, accessing pages, downloading materials, etc.) is presumed to occur in the State of Illinois.</p>
  <p >In connection with any suit, action or proceeding arising from or relating to these Terms and Conditions, you consent to the exclusive jurisdiction of the federal and state courts within the State of Illinois, Cook County.</p>
  <div >
    <strong>12. Electronic Communications; Binding and Entire Agreement</strong>
  </div>
  <p >You agree that (a) these Terms and Conditions constitute an agreement “signed by you” under applicable law; (b) any notices or other communication regarding your use of the Sites may be provided to you electronically (by posting on the website, by email, and other electronic formats) and will be considered received upon posting or other distribution. These Terms and Conditions (including the Privacy Policy) constitute the entire agreement between you and the GGS and supersede all other agreements, oral or written, concerning its subject matter. You consent to the use of the English language in these Terms and Conditions and all documents or notices relating to them and your use of the Sites.</p>
  <div >
    <strong>13. Severability</strong>
  </div>
  <p >If any of these Terms and Conditions is determined to be invalid, void or unenforceable for any reason, then the unenforceable provision will be deemed amended in a manner that will most nearly carry out the intent of the provision to the fullest extent permitted by applicable law or deleted if amendment is not possible, and the remaining Terms and Conditions will be enforceable to the fullest extent permitted by law.</p>
  <div >
    <strong>14. No Waiver</strong>
  </div>
  <p >GGS’s failure to enforce these Terms and Conditions in every instance in which they might apply is not a waiver of any of GGS’s rights, and GGS reserves its right to take all legal steps available to enforce these Terms and Conditions.</p>
  <div >
    <strong>15. Termination</strong>
  </div>
  <p >We reserve the right to terminate any of the Sites and/or these Terms and Conditions at any time without notice for any reason, including, in the case of these Terms and Conditions, for your violation of any of its provisions. The Disclaimer of Warranties and Limitation of Liability, Indemnification, Release and Applicable Law and Jurisdiction provisions of these Terms and Conditions shall survive any such termination.</p>
  <div >
    <strong>16. Contact</strong>
  </div>
  <p >If you have questions about these Terms and Conditions, please contact us at:</p>
  <ul >
    <li ><strong>Greater Good Studio</strong></li>
    <li >2864 N Milwaukee Ave<br>
    Chicago, IL 60618</li>
    <li >
      <a >change@greatergoodstudio.com</a>
    </li>
  </ul>