<div class="ui basic vertical clearing segment">
  <%= link_to tab_session_path(@data_point.session, tab: :data_points), class: "ui left floated medium header cheat-left" do %>
    <i class="angle left icon"></i>Back to All Data Points
  <% end %>
</div>