<div id="photo">
  <div class="ui basic vertical clearing segment">
    <h1 class="ui left floated header">Photo Detail</h1>
  </div>

  <div class="ui grid">
    <div class="seven wide column">
      <%= image_tag @photo.image_url, class: "ui fluid image" %>
    </div>

    <div class="two wide column">
      <div class="ui list">
        <%= link_to @photo, class: "item", method: :delete, data: { confirm: "Are you sure you want to delete this photo?" } do %>
          <i class="icon remove circle"></i>
          <div class="content">Delete Photo</div>
        <% end if policy(@photo).destroy? %>
      </div>
    </div>
  </div>  
</div>
