.ui.button {
  font-family: $font-sans;
  border-radius: 0 !important;
  border-width: 3px !important;
  border-style: solid !important;

  &, &.basic {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &.basic {
    background: transparent !important;
    border-color: $darkGrey !important;
    box-shadow: none;

    &.red {
      border-color: $red !important;
      box-shadow: none !important;

      &:hover,
      &:focus,
      &:active {
        border-color: $lightRed !important;
        box-shadow: none !important
      }
    }

    &:hover,
    &:focus {
      border-color: $grey !important;
      box-shadow: none;
    }

    &:active {
      border-color: $darkestGrey !important;
    }
  }

  &.primary,
  &.red {
    color: white;
    background-color: $red;
    border-color: $red;

    &:hover,
    &:focus {
      background-color: $lightRed !important;
    }

    &:active {
      background-color: $darkRed !important;
      border-color: $darkRed;
    }
  }

  &.branded.icon {
    padding-right: 3.5em !important;
    color: black;
    background: none;
    letter-spacing: 0;
    text-transform: none;
    border: none !important;

    span {
      font-size: 1.1em;
    }

    .icon {
      color: white;
      background: $red;
      border-radius: 0;
    }

    &:hover {
      text-decoration: underline;

      .icon {
        background: $darkRed;
      }
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }
}