#data_point {
  .ui.cards {
    .card {
      min-width: 100px;
    }

    .content {
      font-size: 10px;
      line-height: 1.3em;
    }

    .extra.content {
      display: none;
    }
  }

  textarea[maxlength] + small {
    display: block;
    text-align: right;
    color: $grey;
  }

  .actions.list {
    font-family: $font-sans;
    font-weight: bold;

    a, i {
      color: $red;
    }

    a:hover {
      text-decoration: none;
      color: $darkRed;

      .content {
        text-decoration: underline;
      }
    }
    
  }
}