#data_point {
  .ui.cards {
    .card {
      min-width: 100px;

      &.current {
        border: 2px solid $red;
      }
    }

    .content {
      font-size: 10px;
      line-height: 1.3em;
    }

    .extra.content {
      display: none;
    }
  }

  #prev,
  #next {
    position: absolute;
    top: 40%;
    z-index: 100;

    &:hover {
      opacity: 0.5;
    }

    &#prev { left: -20px; }
    &#next { right: -25px; }
  }

  textarea[maxlength] + small {
    display: block;
    text-align: right;
    color: $grey;
  }
}