body.devise {
  & > .grid {
  	margin-top: 0em;
    height: 100%;
  }

  .column {
    max-width: 48rem;
  }

  &[data-controller="devise/sessions"] .column {
    max-width: 40rem;
  }

  .logo {
    font-size: 1.5em;
  }
}