@font-face {
  font-family: "Circular Std";
  src: font-url("lineto-circular-medium.eot");
  src: font-url("lineto-circular-medium.eot?#iefix") format("embedded-opentype"), font-url("lineto-circular-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Circular Std";
  src: font-url("lineto-circular-bold.eot");
  src: font-url("lineto-circular-bold.eot?#iefix") format("embedded-opentype"), font-url("lineto-circular-bold.woff") format("woff");
  font-weight: bold;
  font-style: bold; }
