form,
form.ui.form {
  .error {
    .helper {
      color: #9f3a38;
    }
  }

  input[type="date"], 
  input[type="datetime-local"], 
  input[type="email"], 
  input[type="number"], 
  input[type="password"], 
  input[type="search"], 
  input[type="tel"], 
  input[type="time"], 
  input[type="text"], 
  input[type="file"], 
  input[type="url"],
  textarea,
  .dropdown:not(.icon) {
    font-family: $font-serif;
    border-color: transparent;
    border-radius: 0 !important;

    &, &:focus {
      background: $lightestBlue;
    }
  }
 
  input[type=file] {
    padding-left: 0 !important;
    border: none !important;

    + img {
      margin-top: 0.5em;
    }
  }
}