header {
  $height: 55px;

  height: $height;

  &.with-submenu {
    height: $height * 2;

    .fixed.menu:first-of-type {
      box-shadow: none;
    }
  }

  .fixed.sub.menu {
    top: $height;
    z-index: 10;
  }

  .right.menu {
    span, a {
      color: $red;
      font-weight: bold;

      &.active {
        text-decoration: underline;
      }
    }
  }

  .logo:before {
    display: inline-block;
    content: "";
    width: 1.25em;
    height: 1.25em;
    line-height: 1.5em;
    margin-right: 10px;
    background: image-url("logo.png");
    background-size: 1.25em 1.25em;
    vertical-align: top;
  }

  .due-date {
    margin-left: 0.5em;
    vertical-align: bottom;
  }
}

main {
  > .ui.clearing.segment:first-of-type {
    padding-bottom:  0;
  }

  i.angle.left.icon {
    margin-right: 0 !important;
  }
}