header {
  $height: 55px;

  height: $height;

  > .ui.fixed.menu {
    z-index: 1000;
  }

  .ui.red.header {
    color: $red !important;

    &:hover {
      color: $darkRed !important;
      text-decoration: none;
    }
  }

  &.with-submenu {
    height: $height * 2;

    .fixed.menu:first-of-type {
      box-shadow: none;
    }
  }

  .fixed.sub.menu {
    top: $height;
    z-index: 10;
  }

  .right.menu {
    span, a {
      font-weight: bold;

      &.active {
        text-decoration: underline;
      }
    }
  }

  .due-date {
    margin-left: 0.5em;
    vertical-align: bottom;
  }
}

main {
  > .ui.clearing.segment:first-of-type {
    padding-bottom:  0;
  }

  i.angle.left.icon {
    margin-right: 0 !important;
  }
}