.ui.table {
  &, th, td {
    border-radius: 0 !important;
  }

  thead {
    th {
      background: $lightGrey;
      white-space: nowrap;
    }
  }

  a.vertically.align {
    line-height: 1em;
    vertical-align: text-top;
  }
}