body {
  font-family: $font-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header,
.table {
  font-family: $font-sans;
}

.bold {
  font-weight: bold;
}

.font {
  &.sans { font-family: $font-sans; }
  &.serif { font-family: $font-serif; }
}