/* Colors */
$black: #000;

$darkestGrey: #404040;
$darkGrey: #707070;
$grey: #979797;
$lightGrey: #d8d8d8;
$lightestGrey: #f3f5f6;

$darkBlue: #018496;
$blue: #4fb4c2;
$lightBlue: #c9e8e6;
$lightestBlue: #eef8f7;

$darkRed: #be3830;
$red: #ee473c;
$lightRed: #f37e76;
$lightestRed: #fdeceb;

$gold: #f6a623;

/* Typography */
$font-serif: "Sentinel SSm A", "Sentinel SSm B", Georgia, "Times New Roman", serif !important;
$font-sans: "Circular Std", Helvetica, Arial, sans-serif !important;