@import "variables";

i.icon {
  &.red {
    color: $red !important;
  }

	&.blue {
    color: $blue !important;
  }

  &.grey {
    color: $grey !important;
  }

  a:hover & {
    text-decoration: none;

    &.red {
      color: $darkRed !important;
    }

    &.blue {
      color: $darkBlue !important;
    }

    &.grey {
      color: $darkGrey !important;
    }
  }
}