<div class="ui basic vertical clearing segment">
  <div class="ui right floated horizontal list">
    <%= link_to edit_project_path(@project), class: "ui right labeled branded icon button" do %>
      <i class="icon plus"></i>
      <span>New Design Team Member</span>
    <% end if policy(@project).edit? %>
  </div>

  <h1 class="ui left floated header">Team Members</h1>
</div>

<div class="ui basic vertical segment">
  <table class="ui table">
    <thead>
      <tr>
        <th>Design Team Member</th>
        <th>Number of Sessions</th>
        <th>Last Update</th>
      </tr>
    </thead>

    <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name_with_avatar, project_member_path(@project, member) %></td>
        <td><%= @project.sessions.for_member(member).size %></td>
        <td><%=  @project.sessions.for_member(member).order("updated_at DESC").decorate.last.try(:last_updated) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
