<div class="ui basic vertical clearing segment">
  <h1 class="ui left floated header"><%= @member.name_with_avatar(possessive: true) %> Sessions (<%= @sessions.total_count %>)</h1>
</div>

<div class="ui basic vertical segment">
  <table class="ui table">
    <thead>
      <tr>
        <th>Session Name</th>
        <th>Date</th>
        <th></th>
        <th>Number of Data Points</th>
        <th>Number of Photos</th>
      </tr>
    </thead>

    <tbody>
      <%= render @sessions, cached: true %>
    </tbody>
  </table>

  <%= paginate @sessions %>
</div>
